{% extends 'base.html' %}

{% block body %}

    <header class="masthead text-center text-white d-flex">
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h1 class="text-uppercase">
              <span class="primary-title">Du gras, oui, mais de qualité !</span>
            </h1>
            <hr>
          </div>
          <div class="col-lg-8 mx-auto">
            <h2 class="text-faded mb-5">Trouvez un produit de substitution pour ceux que vous consommez tous les jours !</h2>
            {% include 'shared/search_form.html' %}
          </div>
        </div>
      </div>
    </header>

    <section id="services">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Colette et Rémy</h2>
            <hr class="my-4">
          </div>
        </div>
      </div>
      <div class="container">
        <p class="col-lg-12 col-md-6 text-center">Nous sommes Colette et Rémy, cool.</p>
        <div class="row">
          <div class="col-lg-6 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-diamond text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">Colette</h3>
              <p class="text-muted mb-0">Our templates are updated regularly so they don't break.</p>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-paper-plane text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">Rémy</h3>
              <p class="text-muted mb-0">You can use this theme as is, or you can make changes!</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="bg-dark text-white" id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading">Contactez-nous !</h2>
            <hr class="my-4">
            <p class="mb-5">On ne mange pas, alors n'hésitez pas à nous contacter !</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 ml-auto text-center">
            <i class="fa fa-phone fa-3x mb-3 sr-contact"></i>
            <p><a href="tel:+33123456789">123-456-6789</a></p>
          </div>
          <div class="col-lg-4 mr-auto text-center">
            <i class="fa fa-envelope-o fa-3x mb-3 sr-contact"></i>
            <p>
              <a href="mailto:your-email@your-domain.com">feedback@startbootstrap.com</a>
            </p>
          </div>
        </div>
      </div>
    </section>

{% endblock %}