{% load static %}

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="{% url 'index' %}"><img class="mr-2 align-top" height="30px" src="{% static 'img/logo_pur_beurre.svg' %}" alt="">Pur beurre</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="{% if user.is_authenticated %} {% url 'account' %} {% else %}{% url 'login' %}{% endif %}"><i class="{% if user.is_authenticated %}fa fa-2x fa-user {% else %} fa fa-2x fa-user-plus {% endif %} text-primary mb-3 sr-icons"></i></a>
        </li>
        <!-- if user is auth then show favorites page, else go to registration -->
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="{% if user.is_authenticated %} {% url 'favorites' %} {% else %}{% url 'register' %}{% endif %}"><img height="35px" src="{% static 'img/carrot.svg' %}" alt="Mes aliments"></a>
        </li>
        <!-- if user is auth then disconnect user, else do nothing -->
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="{% if user.is_authenticated %} {% url 'logout' %} {% else %} # {% endif %}"><i class="fa fa-2x fa-sign-out text-primary mb-3 sr-icons"></i></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
