body,
html {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Scope One', 'Helvetica Neue', Arial, sans-serif;
}

hr {
  max-width: 50px;
  border-width: 3px;
  border-color: #e8a75d;
}

hr.light {
  border-color: #fff;
}

a {
  color: #e8a75d;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

.a-white {
  color: white;
}

a:hover {
  color: #345a61;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.bg-primary {
  background-color: #de9440 !important;
}

.bg-dark {
  background-color: #212529 !important;
}

.text-faded {
  color: rgba(255, 255, 255, 0.7);
}

section {
  padding: 8rem 0;
}

.section-heading {
  margin-top: 0;
}

::-moz-selection {
  color: #fff;
  background: #212529;
  text-shadow: none;
}

::selection {
  color: #fff;
  background: #212529;
  text-shadow: none;
}

img::selection {
  color: #fff;
  background: transparent;
}

img::-moz-selection {
  color: #fff;
  background: transparent;
}

.text-primary {
  color: #e8a75d !important;
}

.primary-title, .secondary-title {
  background-color: #212529;
}

.page-title {
  padding:5% 0 0 0;
}

.vmiddle{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.vbottom{
  position: relative;
  top: 100%;
  transform: translateY(-100%);
}

.nutri-a {
  font-family: sans-serif;
  background-color: #028141;
}

.nutri-b {
  font-family: sans-serif;
  background-color: #85bb2e;
}

.nutri-c {
  font-family: sans-serif;
  background-color: #fecb01;
}

.nutri-d {
  font-family: sans-serif;
  background-color: #ee8100;
}

.nutri-e {
  font-family: sans-serif;
  background-color: #e63d10;
}



/************ NAV ************/


#mainNav {
  border-bottom: 1px solid rgba(33, 37, 41, 0.1);
  background-color: #c45525;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

#mainNav .navbar-brand {
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

#mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: #fff;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
  font-size: .9rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #212529;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
  color: #fff;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active {
  color: #fff !important;
  background-color: transparent;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active:hover {
  background-color: transparent;
}

  @media (min-width: 992px) {
    #mainNav {
      border-color: transparent;
      /* background-color: transparent; */
    }
  /*   #mainNav .navbar-brand {
    color: rgba(255, 255, 255, 0.7);
  } */
  /*   #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
    color: #fff;
  } */
    #mainNav .navbar-nav > li.nav-item > a.nav-link {
      padding: 0.5rem 1rem;
    }
  /*   #mainNav .navbar-nav > li.nav-item > a.nav-link,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
    color: rgba(255, 255, 255, 0.7);
  } */
  /*   #mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: #fff;
  } */
    #mainNav.navbar-shrink {
      border-bottom: 1px solid rgba(33, 37, 41, 0.1);
      background-color: #fff;
    }
    #mainNav.navbar-shrink .navbar-brand {
      color: #fff;
    }
    #mainNav.navbar-shrink .navbar-brand:focus, #mainNav.navbar-shrink .navbar-brand:hover {
      color: #fff;
    }
    #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link,
    #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus {
      color: #212529;
    }
    #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:hover,
    #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus:hover {
      color: #fff;
    }

  }

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");;
}

.navbar-light .navbar-toggler {
  border-color: rgba(255, 255, 255, 0.46);
}

.nav-item {
  text-align: center;
}
.nav-container {
  max-width: 100%;
}


/************ HEADER ************/

header.masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 56px);
  background-image: url("../img/header.jpg");
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

header.masthead hr {
  margin-top: 30px;
  margin-bottom: 30px;
}

header.masthead h1 {
  font-size: 2rem;
}

header.masthead p {
  font-weight: 300;
}


@media (max-width: 992px) {
  .header-input {
    margin:3% 0 0 0;
  }
}





@media (min-width: 768px) {
  header.masthead p {
    font-size: 1.15rem;
  }
}

@media (min-width: 992px) {
  header.masthead {
    height: 100vh;
    min-height: 650px;
    padding-top: 0;
    padding-bottom: 0;
  }
  header.masthead h1 {
    font-size: 3rem;
  }
}

@media (min-width: 1200px) {
  header.masthead h1 {
    font-size: 4rem;
  }
}


/************ BUTTONS ************/

.btn {
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 300px;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.btn-xl {
  padding: 1rem 2rem;
}

.btn-primary {
  background-color: #e8a75d;
  border-color: #e8a75d;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  color: #fff;
  background-color: #ee4b28 !important;
}

.btn-primary:active, .btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(240, 95, 64, 0.5) !important;
}

footer{
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #f5f5f5;
}
.title-cat {
  font-variant: small-caps;
  font-weight: bold;
  font-size: 1rem;
}

caption {
  caption-side: top;
  color: #c45525;
}




/************ PRODUCTS ************/

.img-container{
  height:400px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.img-responsive{
  max-height:165px;
}

.product-img {
  width: 100%;
}

.text-block {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0,0,0,0.7);
    color: white;
    padding: 20px;
}

.nutri-grade{
  font-size: 3rem;
  position: absolute;
  top: 25%;
  left: 85%;
  transform: translate(-25%, -85%);
  padding: 20px;
  border-radius: 0;
}

.nutri-grade .badge {
  border-radius: 0;
}

.product-block {
  height: 350px;
}


/************ PAGINATION ITEMS ************/

.pagination {
    display: table;
    width: 100%;
}
.pager li, .pagination>li {
    display: inline;
    display: table-cell;
}
.pagination>li>a,
.pagination>li>span {
    width: 100%;
    text-align: center;
}


/************ USER REGISTRATION & LOGIN ************/

.main-center{
  margin: auto;
  max-width: 600px;
  padding: 30px 100px;
  background:#de9440;
  color: #FFF;
  text-shadow: none;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);

}
/* 
.input-group {
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21)!important;
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21)!important;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21)!important;
} */

label {
  margin: 0;
}



/************ USER PROFILE PAGE ************/
 .card {
    margin-top: 20px;
    padding: 30px;
    background-color: rgba(214, 224, 226, 0.2);
    -webkit-border-top-left-radius:5px;
    -moz-border-top-left-radius:5px;
    border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    -moz-border-top-right-radius:5px;
    border-top-right-radius:5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 0;
    border-radius: 0;
}
.card.hovercard {
    position: relative;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 1);
}
.card.hovercard .card-background {
    height: 300px;
}

.card.hovercard .card-background-favorites {
    height: 200px;
}

.card-background img, .card-background-favorites img {
    -webkit-filter: blur(25px);
    -moz-filter: blur(25px);
    -o-filter: blur(25px);
    -ms-filter: blur(25px);
    filter: blur(25px);
    margin-left: -100px;
    margin-top: -200px;
    min-width: 130%;
}
.card.hovercard .useravatar {
    position: absolute;
    top: 150px;
    left: 0;
    right: 0;
}
.account-msg-box {
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
}
.favorite-msg-box {
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
}
.account-msg, .favorite-msg {
  font-size: 4rem;
  font-weight: bold;
  color: #e8a75d;
}
.account-msg-txt, .favorite-msg-txt {
  color: white;
}
.card.hovercard .useravatar img {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.5);
}
.card.hovercard .card-info {
    position: absolute;
    bottom: 45px;
    left: 0;
    right: 0;
}
.card.hovercard .card-info .card-title {
    padding:0 5px;
    font-size: 20px;
    line-height: 1;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.card.hovercard .card-info {
    overflow: hidden;
    font-size: 12px;
    line-height: 20px;
    color: #737373;
    text-overflow: ellipsis;
}
.card.hovercard .bottom {
    padding: 0 20px;
    margin-bottom: 17px;
}
.btn-pref .btn {
    -webkit-border-radius:0 !important;
}





/************ MISC ************/
.section-pad{
  padding: 3% 0;
}

.section-pad-not-found{
  padding: 100px 0;
}

.rtable {
  /*!
  // IE needs inline-block to position scrolling shadows otherwise use:
  // display: block;
  // max-width: min-content;
  */
  display: inline-block;
  vertical-align: top;
  max-width: 100%;
  
  overflow-x: auto;
  
  // optional - looks better for small cell values
  white-space: nowrap;

  border-collapse: collapse;
  border-spacing: 0;

  // optional - enable iOS momentum scrolling
  -webkit-overflow-scrolling: touch;
  
  // scrolling shadows
  background: radial-gradient(left, ellipse, rgba(0,0,0, .2) 0%, rgba(0,0,0, 0) 75%) 0 center,
              radial-gradient(right, ellipse, rgba(0,0,0, .2) 0%, rgba(0,0,0, 0) 75%) 100% center;
  background-size: 10px 100%, 10px 100%;
  background-attachment: scroll, scroll;
  background-repeat: no-repeat;
}

.rtable td:first-child {
  background-image: linear-gradient(to right, rgba(255,255,255, 1) 50%, rgba(255,255,255, 0) 100%);
  background-repeat: no-repeat;
  background-size: 20px 100%;
}

// gradient on the last cells to hide the right shadow
.rtable td:last-child {
  background-image: linear-gradient(to left, rgba(255,255,255, 1) 50%, rgba(255,255,255, 0) 100%);
  background-repeat: no-repeat;
  background-position: 100% 0;
  background-size: 20px 100%;
}

.rtable th {
  font-size: 11px;
  text-align: left;
  text-transform: uppercase;
  background: #f2f0e6;
}

.rtable th,
.rtable td {
  padding: 6px 12px;
  border: 1px solid #d9d7ce;
}


.list-inline {
  margin: 0;
}

.text-justify {
  text-align: justify;
}

.pagination-pad {
  padding: 4% 0 0 0;
}

.btn-search {
  border-radius: 0;
}

nav .input-group {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}