{% load static %}

{% for product in products %}
    <div class="col-sm-4 text-center">
        <a href="{% url 'products:product_detail' product_id=product.id %}">
            {% if product.img_small is none %}
                <img class="img-responsive" src="{% static 'products/img/logo_pur_beurre.png' %}" alt="{{ product.name }}">
            {% else %}
                <img class="img-responsive" src="{{ product.img_small }}" alt="{{ product.name }}">
            {% endif %}
        </a>
        <h3><a href="{% url 'products:product_detail' product_id=product.id %}" class="a-white">{{ product.name }}</a></h3>
        {% for brand in product.brands.all %}
            <p><a href="" class="a-white">{{ brand.name }}</a></p>
        {% endfor %}
    </div>
    {% if forloop.counter|divisibleby:3 %}<div class="clearfix"></div>{% endif %}
{% endfor %}