{% extends 'products/base.html' %}

{% block body %}

    <section class="bg-primary" id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 mx-auto text-center">
            <h2 class="section-heading text-white">Merci à ces gens</h2>
            <hr class="light my-4">
            <div class="row">
            </div>
            <p class="text-faded mb-4">Merci à ces gens :</p>
            <a class="btn btn-light btn-xl js-scroll-trigger" href="#services">Get Started!</a>
          </div>
        </div>
      </div>
    </section>

{% endblock %}