<!-- Page used to display a better product than the one chosen at /search/?query url -->

{% load static %}
{% load i18n %}


<section class="section-pad">

  {% if products|length_is:"0" %}
    <div class="text-center mb-5 page-title">
      {% comment %}Translators: No product found{% endcomment %}
      {% blocktrans %} Mince, aucun produit ne correspond à cette recherche. Cherchez à nouveau ! {% endblocktrans %}
    </div>
    {% include 'shared/search_form.html' %}

  {% elif not query %}
    <section>
      {% include 'shared/search_form.html' %}
      {% include 'products/shared/list_of_products.html'%}
    </section>

  {% else %}

    <!-- display the chosen product -->
    {% include 'products/shared/chosen_product.html' %}

    <!-- display better products than the one chosen -->
    {% include 'products/shared/list_of_products.html'%}
  {% endif %}

</section>

