<!-- Page used to display all products available at the /products/ root url -->

{% load static %}
{% load i18n %}

<section>
  <div class="col-lg-12">
    <h2 class="intro-text text-center">{{ list_title }}
    </h2>
    <hr class="detail-separator mb-5">
  </div>

  {% if products|length_is:"0" %}
    <div class="text-center mb-5">
      {% comment %}Translators: No product found{% endcomment %}
      {% blocktrans %} Mince, aucun produit ne correspond à cette recherche. Cherchez à nouveau ! {% endblocktrans %}
    </div>
    {% include 'shared/search_form.html' %}

    {% else %}
  {% include 'shared/search_form.html' %}
    
    {% include 'products/shared/list_of_products.html'%}
  {% endif %}
  
  <!-- display a page nav if there are many products -->
  {% if paginate %}
    {% include 'products/shared/pagination.html' %}
  {% endif %}
  <!-- !!end display a page nav if there are many products -->
