{% extends 'base.html' %}
{% load static %}
{% load i18n %}


{% block body %}
  <section class="section-pad">
      <div class="row">
        <div class=" col-md-12 text-center mb-5 align-bottom">

          {% if product.img is none %}
            <div class="contain">
                <div class="img-container" style="background-image: url({% static 'img/placeholder.png' %})"></div>
                <div class="text-block text-left">
                  <h4 class="superpose-img">{{ product.name }}</h4>
                  {% for brand in product.brands.all %}
                    {% if product.brands.all|length_is:"1" %}
                      <li class="list-inline-item"><a href="">{{ brand.name }} </a></li>
                    {% else %}
                      {% if forloop.counter < product.brands.all|length %}
                        <li class="list-inline-item"><a href="">{{ brand.name }}, </a></li>
                      {% else %}
                        <li class="list-inline-item"><a href="">{{ brand.name }} </a></li>
                      {% endif %}
                    {% endif %}
                  {% endfor %}
                </div>
              </div>

            {% else %}
            <div class="contain">
                <div class="img-container" style="background-image: url({{ product.img }})"></div>
                <div class="text-block text-left">
                  <h4 class="superpose-img">{{ product.name }}</h4>
                  {% for brand in product.brands.all %}
                    {% if product.brands.all|length_is:"1" %}
                      <li class="list-inline-item"><a href="">{{ brand.name }} </a></li>
                    {% else %}
                      {% if forloop.counter < product.brands.all|length %}
                        <li class="list-inline-item"><a href="">{{ brand.name }}, </a></li>
                      {% else %}
                        <li class="list-inline-item"><a href="">{{ brand.name }} </a></li>
                      {% endif %}
                    {% endif %}
                  {% endfor %}
                </div>
              </div>
            {% endif %}

        </div>
      </div>
      
      <div class="container">
        <div class="row text-center">
          <div class="col-xl-6 col-lg-6 col-md-4 col-xs-1 mx-auto">
            <p><span class="title-cat">{% blocktrans %} Catégorie : {% endblocktrans %}</span> <a href="">{{ category }}</a></p>
              {% if product.nutri_grade == "a" %}
                <p>Nutriscore : <span class="badge badge-success">{{ product.nutri_grade }}</span></p>
              {% elif product.nutri_grade == "b" %}
                <p>Nutriscore : <span class="badge badge-info">{{ product.nutri_grade }}</span></p>
              {% elif product.nutri_grade == "c" %}
                <p>Nutriscore : <span class="badge badge-primary">{{ product.nutri_grade }}</span></p>
              {% elif product.nutri_grade == "d" %}
                <p>Nutriscore : <span class="badge badge-warning">{{ product.nutri_grade }}</span></p>
              {% elif product.nutri_grade == "e" %}
                <p>Nutriscore : <span class="badge badge-danger">{{ product.nutri_grade }}</span></p>
              {% endif %}
            <table class="table">
              <caption>
                <span class="title-cat">{% blocktrans %} Valeurs nutritionelles (pour 100 g) {% endblocktrans %}</span>
              </caption>
              <thead class="thead-light">
                <tr>
                  <th>{% blocktrans %} Énergie (Kcal) {% endblocktrans %}</th>
                  <th>{% blocktrans %} Protéines (g) {% endblocktrans %}</th>
                  <th>{% blocktrans %} Matières grasses (g) {% endblocktrans %}</th>
                  <th>{% blocktrans %} Sucres (g) {% endblocktrans %}</th>
                  <th>{% blocktrans %} Fibres (g) {% endblocktrans %}</th>
                  <th>{% blocktrans %} Sel (g) {% endblocktrans %}</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{ product.energy }}</td>
                  <td>{{ product.proteins }}</td>
                  <td>{{ product.fat }}</td>
                  <td>{{ product.sugars }}</td>
                  <td>{{ product.fibers }}</td>
                  <td>{{ product.salt }}</td>
                </tr>
              </tbody>
            </table>
            <a class="btn btn-primary text-white" href="{{ product.url }}">Voir la fiche OpenFoodFacts</a>
          </div>
        </div>
      </div>
    </div>
      
  </section>
{% endblock %}