{% extends 'base.html' %}
{% load i18n %}


{% block body %}
  <section>
    <div class="container">
      <div class="row">
        <div class="col-xl-5 col-lg-6 col-md-8 col-xs-1">
          <img class="product_img" src="{{ img }}" alt="">
          <h2 class="mt-3">{{ product_name }}</h2>

          {% for brand in brands %}
            <a href="">{{ brand }}</a>
          {% endfor %}

        </div>
        <div class="col-xl-5 col-lg-6 col-md-4 col-xs-1">
          <p><span class="title-cat">{% blocktrans %} Catégorie : {% endblocktrans %}</span> {{ category }}</p>
          <p><span class="title-cat">{% blocktrans %} Nutri grade : {% endblocktrans %}</span> {{ nutri_grade }}</p>
          <table class="table">
            <caption>
              <span class="title-cat">{% blocktrans %} Valeurs nutritionelles (pour 100 g) {% endblocktrans %}</span>
            </caption>
            <thead class="thead-light">
              <tr>
                <th>{% blocktrans %} Énergie (Kcal) {% endblocktrans %}</th>
                <th>{% blocktrans %} Protéines (g) {% endblocktrans %}</th>
                <th>{% blocktrans %} Matières grasses (g) {% endblocktrans %}</th>
                <th>{% blocktrans %} Sucres (g) {% endblocktrans %}</th>
                <th>{% blocktrans %} Fibres (g) {% endblocktrans %}</th>
                <th>{% blocktrans %} Sel (g) {% endblocktrans %}</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{ energy }}</td>
                <td>{{ proteins }}</td>
                <td>{{ fat }}</td>
                <td>{{ sugars }}</td>
                <td>{{ fibers }}</td>
                <td>{{ salt }}</td>
              </tr>
            </tbody>
          </table>
          <p><span class="title-cat">{% blocktrans %} Url vers la fiche OpenFoodFacts : {% endblocktrans %}</span> <a href="{{ url }}">{{ url }}</a></p>
        </div>
      </div>
    </div>
  </section>
{% endblock %}